<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>BJTU.ME</title>
	
    <!-- Loading Flat UI -->
	<link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/flat-ui.css" rel="stylesheet">
    <link href="stylesheets/custom.css" rel="stylesheet">
    <link href="images/favicon.ico" type="image/x-icon" rel=icon>
    
    <!-- Loading CSS&JS File For Loading Page -->
    <link href="stylesheets/loading.css" rel="stylesheet">
    
    
</head>

<body onload="onLoad()">
<!-- Navigation Bar -->
<div class="container">
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="nav-collapse collapse">
			<!-- Menus -->
				<ul class="nav">
					<li><a href="/">首页</a></li>
					<li><a href="#">周边信息
						<span class="navbar-unread">3</span></a>
					</li>
				</ul>
				
			<!-- User Controlls -->
				<ul class="nav user">
					<li>
						<a href="#" class="signin">登录</a>
					</li>
					<li>
						<a href="#" class="signup signout">
						注册
						<span class="navbar-unread">3</span>
						</a>
					</li> 
				</ul>
				
			</div>
		</div>
	</div>
</div>

<!-- Main Content -->
<div class="container">
	
	<h1 id="title" class="demo-logo title font-effect-putting-green" align="center">
		BJTU.ME
		<small>Things around our school.</small>
	</h1>
	
	<div id="content" class="row demo-tiles">
		<!-- Loading befor recieving data from the server. -->
		<ul class="bokeh">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>

<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="span7">
				<h3 class="footer-title">合作编辑者</h3>
				<ul>
					<li><b>MoonLight@BJTU</b><br/>
						Email: <a href="mailto:dyzdyz010@sina.com">dyzdyz010@sina.com</a><br/>
						Blog: <a href="http://duyizhuo.com">duyizhuo.com</a>
					</li><br/>
					<li><b>Knight@BJTU</b><br />
						Email: <a href="mailto:knight.king0408@gmail.com">knight.king0408@gmail.com</a>
					</li><br/>
					<li><b>Uice Stone</b></li>
				</ul>
			</div>
			<div class="span5">
				<div class="footer-banner">
					<h3 class="footer-title">库和框架</h3>
					<ul>
						<li><a href="http://designmodo.github.io/Flat-UI/">Flat UI</a></li>
						<li><a href="http://jquery.com">jQuery</a></li>
						<li><a href="http://jqueryui.com">jQuery UI</a></li>
						<li><a href="http://nodejs.org">Node.js</a></li>
						<li><a href="http://backbonejs.org">Backbone.js</a></li>
					</ul>
					Special thanks to:
					<a href="http://github.com">Github</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- jQuery & jQuery-UI -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    
<!-- Backbone.js & Underscore.js & Jade.js -->
<script src="http://documentcloud.github.io/underscore/underscore-min.js"></script>
<script src="http://documentcloud.github.io/backbone/backbone-min.js"></script>
<script src="javascripts/jade.min.js"></script>
    
<script src="javascripts/jquery.dropkick-1.0.0.js"></script>
<script src="javascripts/custom_checkbox_and_radio.js"></script>
<script src="javascripts/custom_radio.js"></script>
<script src="javascripts/jquery.tagsinput.js"></script>
<script src="javascripts/bootstrap-tooltip.js"></script>
<script src="javascripts/jquery.placeholder.js"></script>
<script src="javascripts/application.js"></script>
	
<!-- Loading Custom Script Files -->
<script src="javascripts/index.js"></script>
<script src="javascripts/ui.js"></script>
<script src="javascripts/md5.js"></script>
    
<!-- Google Maps V3 -->
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCJPNB7P9KeU033UCFHm8bLQ_gpqDkYiYc&sensor=true">
</script>
</body>
</html>