<div class="login">
    <div class="login-screen">
        <div class="login-icon">
            <img src="images/login/icon.png" alt="Welcome to Mail App" />
            <h4>Welcome to <small>BJTU.ME</small></h4>
        </div>

        <div class="login-form">
            <div class="control-group">
                <input type="email" class="login-field" value="" placeholder="Email" id="regis-mail" />
            </div>

            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Password" id="regis-pass" />
            </div>
            
            <div class="control-group">
	            <input type="text" class="login-field" value="" placeholder="Nickname" id="regis-nickname" />
	        </div>

            <a class="btn btn-primary btn-large btn-block" href="#register/submit">Register</a>
        </div>
    </div>
</div>