for clss in classes
	.span3(onclick='router.navigate("items/#{clss.cname}", {trigger:true})')
		.tile
			img(class='tile-image big illustration', src=clss.img)
			h3(class='tile-title')= clss.name
			p(class='tile-desc')= clss.intro