.row.demo-tiles
    for clss in classes
        clss = clss.attributes
        .span3(id=clss.cname)
            .tile
                img(class='tile-image big illustration', src=clss.img)
                h3(class='tile-title')= clss.name
                p(class='tile-desc')= clss.intro