for clss in classes
	.span3(onclick='classClicked("#{clss.cname}")')
		.tile
			img(class='tile-image big illustration', src=clss.img)
			h3(class='tile-title')= clss.name
			p(class='tile-desc')= clss.intro